<!DOCTYPE html>
<html lang="en">

<head>
  <title>markruler</title>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
  <h1 id="subject">HTTP Cache 테스트 페이지</h1>
  <pre>
    My port is (:<%=port%>)
  </pre>
  <input id="click-test" type="button" value="Click me" />
  <hr>
  <img id="haskell" src="haskell.png" alt="haskell" />
</body>

<script type="text/javascript" src="index.js"></script>

</html>
